@import "~bootstrap/scss/bootstrap.scss";



.container{
    padding: 20px;

    #banner{
        margin-bottom: 25px;
    }


    #inside-content{
        .card{
            margin-bottom: 20px;
            text-align: center;
            .card-img-top{
                height: 180px;
                background-color: #868e96;
            }
        }
    }

}

#footer{
    color: #fff;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    line-height: 100px;
    background-color: #343a40;
}